h1 {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* app.component.css */

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}
